:root{
    --primary-: rgb(70, 102, 206);
    --fondo-: rgb(70, 187, 206);
    --secundary-: rgb(152, 205, 226);
    --padding-: 10px;
    --blanco-: rgba(227, 237, 251);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link_menu {
    display: flex;
    margin-right: 1rem;
    font-size: 1.25rem;
    color: var(--blanco-);
    text-decoration: none;
    white-space: nowrap;
    align-items: center;
}

.link_menu>i{
    margin: auto;
}

.item_despegable{
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--blanco-);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: var(--bs-dropdown-item-border-radius,0);
}

.toggler {
    padding: 0.15rem 0.55rem;
    font-size: 2rem;
    line-height: 1;
    color: var(--blanco-);
    background-color: transparent;
    border: 1px solid var(--blanco-);
    border-radius: 0.375rem;
    transition: box-shadow 0.15s ease-in-out;
}

body{
    display: block;
    margin: 20px;
    background-color: var(--blanco-);
}

#bgvm, .bgvm{
    background-color: var(--primary-);
}

#text-bgvm, .text-bgvm{
    color: var(--blanco-);
}

.container{
    width: 100%;
    padding: 10px;
    gap: 10px;
}

.banner{
    width: 100%;
    height: 400px;
}

.section_pack{
    background-color: var(--fondo-);
    border-radius: 3px;
    border: 1px var(--blanco-) solid;
    width: 100%;
    height: auto;
    padding: var(--padding-);
    color: var(--blanco-);
    text-align: center;
    margin-top: 5px;
}

.section_pack>h3{
    padding: var(--padding-);
}

.suc{
    background-color: var(--blanco-);
    width: 100%;
    color: var(--primary-);
    padding: var(--padding-);
    justify-content: center;
    border-radius: 3px;
    border: 1px var(--primary-) solid;
    margin-top: 5px;
}

.container_form{
    display: flex;
    width: 80%;
    justify-content: space-around;
    padding: var(--padding-);
    margin: auto;
}

.title{
    display: flex;
}

.boton_wa{
    display: flex;
    position:fixed;
    width:50px;
    height:50px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
    justify-content: center;
}

#icon_wa{
    margin: auto;
}

footer{
    background-color: black;
    padding: var(--padding-);
}